<%= form_with(model: crming, local: true) do |form| %>
  <% if crming.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crming.errors.count, "error") %> prohibited this crming from being saved:</h2>

      <ul>
      <% crming.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
